* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f1f5f8;
}

.container {
  display: flex;
  gap: 2rem;
  width: 80%;
  margin: 4rem auto;
}

.image-container {
  width: 100%;
}

.image-container img {
  width: 100%;
  border-radius: 5px;
}

.content {
  width: 100%;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  color: #004479;
}

.subtitle {
  margin-top: 10px;
  margin-bottom: 24px;
  font-size: 1.1rem;
  font-weight: bold;
}

.body {
  color: #4e687d;
  margin-bottom: 24px;
}

.timer {
  display: flex;
  gap: 1rem;
}

.timer-item {
  background-color: #161025;
  color: white;
  width: 70px;
  height: 70px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  place-items: center;
}

.timer-number {
  font-size: 2rem;
  font-weight: 600;
}
